#
# .gitconfig
#
[user]
    name = masartz
    email = masartz@gmail.com
[alias]
    co = checkout
    st = status
    home = checkout master
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
# gitlab設定
[http]
        sslverify = false
